<button class="btn btn-outline-success" ng-click="openNewDoctorModal()">+ Add +</button>
<table class="table table-bordered text-center table-sm mt-3" style="user-select: none">
    <thead>
        <tr>
            <th>ID</th>
            <th>Doctor Name</th>
            <th>Phone number</th>
            <th>Address</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="doctor in doctors|itemsPerPage:10">
            <td>{{doctor.doctor_ID}}</td>
            <td>{{doctor.doctor_name}}</td>
            <td>{{ doctor.doctor_phone || '---' }}</td>
            <td>{{ doctor.doctor_address || '---' }}</td>
            <td class="btn-outline-info" ng-click="openEditDoctorModal(doctor.doctor_ID)"><i
                    class="fas fa-user-edit fa-lg"></i></td>
        </tr>

        <tr class="table-active" ng-if="doctors.length === 0">
            <td colspan="5">No data available in table</td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls max-size="5" direction-links="true" boundary-links="false"
    template-url="../templates/dirPagination.tpl.html">
</dir-pagination-controls>
</div>

<!-- doctor modal -->
<div class="modal fade" id="doctorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form ng-submit="submit()">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="from-group">
                        <label>Doctor Name</label>
                        <input spellcheck="false" type="text" class="form-control"
                            ng-model="doctorDetails.doctor_name" required autofocus>
                    </div>
                    <div class="from-group">
                        <label>Doctor Phone</label>
                        <input type="text" class="form-control" ng-model="doctorDetails.doctor_phone" min="0">
                    </div>
                    <div class="from-group">
                        <label>Doctor Address</label>
                        <input type="text" class="form-control" ng-model="doctorDetails.doctor_address">
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                            class="fas fa-times fa-fw"></i> Cancel</button>
                    <button ng-if="selectedModal == 'edit'" ng-click="deleteDoctor()" type="button"
                        class="btn btn-danger"><i class="fas fa-trash-alt fa-fw"></i> Delete</button>
                    <button type="submit" class="btn btn-success"><i class="fas fa-check fa-fw"></i>
                        Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>