<div class="container">
    <!-- <div class="text-center">
        <h4>Backup Database</h4>
        <button class="btn btn-primary btn-lg" ng-click="backupDB()">Backup Now</button>
    </div> -->
    <ul class="list-group">
        <a href="" ng-click="backupDB()" class="list-group-item list-group-item-action d-flex align-items-center">
            <i class="fas fa-database fa-3x mr-3"></i>
            <h5 class="mb-0">Backup Database</h5>
        </a>
        <a ng-click="" class="disabled list-group-item list-group-item-action d-flex align-items-center">
            <i class="fas fa-sync-alt fa-3x mr-3"></i>
            <h5 class="mb-0">Restore Backup (will be availabe soon)</h5>
        </a>
    </ul>
</div>